<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang đăng nhập</title>
  <link rel="stylesheet" href="{% static "css/home_login.css" %}">
</head>
<body>
  <header>
    <h1>Tên trang web của bạn</h1>
  </header>
  <main>
    <div class="login-container">
      <h2>Đăng nhập</h2>
      <form action="submit_login.php" method="post">
        <div class="form-group">
          <label for="username">Tên đăng nhập:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Đăng nhập</button>
      </form>
      <a href="#">Quên mật khẩu?</a>
    </div>
  </main>
</body>
</html>
