<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Quizify</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- Liên kết tới file CSS -->
</head>
<body>
    <div class="container">
        <form action="{% url 'login' %}" method="post" class="login-form">
            {% csrf_token %}
            <h2>Login</h2>
            {% if error_message %}
            <p class="error">{{ error_message }}</p>
            {% endif %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
