<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/signin.css" %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <div class="btn">
                {% comment %} <button type="button" onclick="redirect_to_sign_up()"><a href={% url 'signup' %}>Sign Up</a></button> {% endcomment %}
                <button type="button" id="SignUpBtn">Sign Up</button>
                <button type="submit">Login</button>
            </div>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}


        <script src="{% static "js/signin.js" %}"></script>
        
    </div>
</body>
</html>