<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/signup.css" %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="signup-container">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" value="{{ form.username.value }}" {% if form.errors.username %}class="error"{% endif %}><br>
                {% if form.errors.username %}
                    <p class="error">{{ form.errors.username }}</p>
                {% endif %}
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" value="{{ form.email.value }}" {% if form.errors.email %}class="error"{% endif %}><br>
                {% if form.errors.email %}
                    <p class="error">{{ form.errors.email }}</p>
                {% endif %}
                <label for="password1">Password:</label><br>
                <input type="password" id="password1" name="password1"><br>
                {% if form.errors.password1 %}
                    <p class="error">{{ form.errors.password1 }}</p>
                {% endif %}
                <label for="password2">Confirm Password:</label><br>
                <input type="password" id="password2" name="password2"><br>
                {% if form.errors.password2 %}
                    <p class="error">{{ form.errors.password2 }}</p>
                {% endif %}
                <label for="role">You Are:</label><br>
                <select id="role" name="role">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select><br><br>
                <button type="submit">Sign Up</button>
            </form>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </div>
        <script src="{% static "js/signup.js" %}"></script>
    </body>
</html>